<div id="<%= dom_id(project) %>" class="max-w-md mx-auto bg-white shadow rounded-lg p-6 text-center">
  <div class="mb-4">
    <strong class="block text-sm font-bold text-gray-800 mb-1">Title:</strong>
    <span class="text-gray-700"><%= project.title %></span>
  </div>
  <div class="mb-4">
    <strong class="block text-sm font-bold text-gray-800 mb-1">Description:</strong>
    <span class="text-gray-700"><%= project.description %></span>
  </div>
  <div class="mb-4">
    <strong class="block text-sm font-bold text-gray-800 mb-1">Status:</strong>
    <span class="text-gray-700"><%= project.status.humanize %></span>
  </div>
</div>
